body {
    padding-top: 70px;
    background: url(../images/per-loov-_1Z4zsEXUSk-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: lato;
}
.navbar-brand{
    color:#d9534f;
}
.nav-link{
    color:#d9534f;
}
#logo{
    font-size: 700;
    font-weight: 700;
    font-family: cursive;
}

h1{
    color: white;
}

h3{
    color: white;
}

#content{
    text-align: center;
    padding-top: 25%;
        
}

html{
    height: 100%;
}
hr{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


